@function grid-item-width($columns, $gap) {
    @return calc(
        (100% - ($gap * ($columns - 1))) / $columns
    );
}

.product-card_wrapper {
    flex: grid-item-width(4, 16px);

    & .product-card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        background-color: black;

        border: 1px solid white;
        border-radius: 10px;

        padding: 10px;

        transition: 0.3s;

        & .product-card_image-wrapper {
            height: 500px;
            overflow: hidden;
            position: relative;

            & img {
                object-fit: contain;
            }
        }

        &:hover {
            background-color: white;
        }

        & * {
            color: white;
        }

        &:hover * {
            color: black;
        }

        & .product-card_wrapper {
            display: flex;
            justify-content: space-between;
            font-weight: 800;
        }
    }
}

@media screen and (max-width: 1399px) {
    .product-card_wrapper {
        flex: grid-item-width(3, 16px);
    }
}

@media screen and (max-width: 991px) {
    .product-card_wrapper {
        flex: grid-item-width(2, 16px);
    }
}

@media screen and (max-width: 767px) {
    .product-card_wrapper {
        flex: grid-item-width(1, 16px);
    }
}
